* {
    font-family: "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: normal;
}

body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
}

ul li {
    display: inline;
    padding-left: 20px;
    text-decoration: none;
}

nav {
    background-color: black;
    margin: -8px -8px -0px -8px;
    padding: 10px;
    text-align: right;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
}

.content,
form,
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user {
    padding-top: 90px;
    border-radius: 5px;
}

.comment {
    padding-top: 50px;
}

.btn {
    padding-top: 70px;
    padding-bottom: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #24292F;
    color: #FFFFFF;
    margin-top: 50px;
    margin: 50px -8px -8px -8px;
    padding: 10px 50px 10px 50px;
}

.contact p {
    font-size: 15px;
}

footer p,
a {
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
}

#usernam {
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}