* {
    font-family: "Lato Extended", Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: normal;
}

body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
}

ul li {
    display: inline;
    padding-left: 20px;
    text-decoration: none;
}

nav {
    background-color: black;
    margin: -8px -8px -0px -8px;
    padding: 10px;
    text-align: right;
}

ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #ffff;
}

.content,
form,
.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user {
    padding-top: 90px;
    border-radius: 5px;
}

.comment {
    padding-top: 50px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #24292F;
    color: #FFFFFF;
    margin-top: 50px;
    margin: 50px -8px -8px -8px;
    padding: 10px 50px 10px 50px;
}

.contact p {
    font-size: 15px;
}

footer p,
a {
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
}

#coment {
    border-radius: 10px;
    padding-bottom: 40px;
    padding-right: 80px;
    padding-top: 30px;
    text-align: left;
    background-color: inherit;
    border: 2px #FFFFFF;
    color: #FFFFFF;
}

textarea {
    border-radius: 10px;
    padding: 10px;
    width: 450px;
    height: 80px;
    max-width: 450px;
    max-height: 80px;
    min-width: 450px;
    min-height: 80px;
    padding-left: 30px;
    background-color: inherit;
    border: 2px solid #FFFFFF;
    outline: none;
    color: #FFFFFF;
}

::placeholder {
    font-size: 17px;
    color: #FFFFFF;
}

input[type=submit] {
    width: 500px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: #F61A9E;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
}

input[type=text] {
    border: 2px solid white;
    color: #FFFFFF;
    border-radius: 30px;
    outline: none;
    height: 50px;
    width: 450px;
    background-color: inherit;
    padding-left: 30px;
}

label {
    font-size: 20px;
    color: white;
}